body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

#container {
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    width: 700px;
    margin-left: 50px;
    padding-right: 24px;
    padding-left: 24px;
}

.bg-color-blue {
    background-color: #2d89ef !important;
}

.bg-color-blueDark {
    background-color: #2b5797 !important;
}

.bg-color-green {
    background-color: #00a300 !important;
}

.bg-color-greenLight {
    background-color: #99b433 !important;
}

.bg-color-greenDark {
    background-color: #1e7145 !important;
}

.bg-color-red {
    background-color: #b91d47 !important;
}

.bg-color-yellow {
    background-color: #ffc40d !important;
}

.bg-color-orange {
    background-color: #e3a21a !important;
}

.bg-color-orangeDark {
    background-color: #da532c !important;
}

.bg-color-pink {
    background-color: #9f00a7 !important;
}

.bg-color-pinkDark {
    background-color: #7e3878 !important;
}

.bg-color-purple {
    background-color: #603cba !important;
}


.replies {
    margin-left: 0;
    list-style: none;
}

    .replies > div,
    .replies > li,
    .replies > span {
        position: relative;
        margin: 0 10px 10px 0;
        display: block;
        float: none !important;
        width: 500px;
        height: 150px;
        font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 11pt;
        letter-spacing: 0.02em;
        line-height: 20px;
        height: auto;
        padding: 10px;
    }

        .replies > div .avatar,
        .replies > li .avatar,
        .replies > span .avatar {
            width: 50px;
            height: 50px;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle !important;
            background: #6e6e6e;
            box-shadow-bottom: inset 0px 0px 3px #fff;
        }

            .replies > div .avatar img,
            .replies > li .avatar img,
            .replies > span .avatar img {
                width: 100%;
                height: 100%;
                display: inline-block !important;
                vertical-align: middle !important;
            }

        .replies > div .reply,
        .replies > li .reply,
        .replies > span .reply {
            margin-left: 60px;
            margin-top: -50px;
        }

            .replies > div .reply .date,
            .replies > li .reply .date,
            .replies > span .reply .date {
                float: right;
                font-size: 55%;
                color: #ffffff;
            }

            .replies > div .reply .author,
            .replies > li .reply .author,
            .replies > span .reply .author {
                color: #ffffff;
            }

            .replies > div .reply .text,
            .replies > li .reply .text,
            .replies > span .reply .text {
                font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
                font-weight: 400;
                font-size: 9pt;
                color: #000000;
                color: #ffffff;
                line-height: 16px;
            }

                .replies > div .reply .text:hover,
                .replies > li .reply .text:hover,
                .replies > span .reply .text:hover {
                    color: rgba(0, 0, 0, 0.8);
                }

                .replies > div .reply .text:active,
                .replies > li .reply .text:active,
                .replies > span .reply .text:active {
                    color: rgba(0, 0, 0, 0.4);
                }

                .replies > div .reply .text:hover,
                .replies > li .reply .text:hover,
                .replies > span .reply .text:hover {
                    color: #ffffff;
                }

        .replies > div .sticker,
        .replies > li .sticker,
        .replies > span .sticker {
            width: 0;
            height: 0;
            border-top: 10px solid #ffffff;
            position: absolute;
            display: block;
            z-index: 1000;
        }

            .replies > div .sticker.sticker-color-blue,
            .replies > li .sticker.sticker-color-blue,
            .replies > span .sticker.sticker-color-blue {
                border-color: #2d89ef !important;
            }

            .replies > div .sticker.sticker-color-blueLight,
            .replies > li .sticker.sticker-color-blueLight,
            .replies > span .sticker.sticker-color-blueLight {
                border-color: #eff4ff !important;
            }

            .replies > div .sticker.sticker-color-blueDark,
            .replies > li .sticker.sticker-color-blueDark,
            .replies > span .sticker.sticker-color-blueDark {
                border-color: #2b5797 !important;
            }

            .replies > div .sticker.sticker-color-green,
            .replies > li .sticker.sticker-color-green,
            .replies > span .sticker.sticker-color-green {
                border-color: #00a300 !important;
            }

            .replies > div .sticker.sticker-color-greenLight,
            .replies > li .sticker.sticker-color-greenLight,
            .replies > span .sticker.sticker-color-greenLight {
                border-color: #99b433 !important;
            }

            .replies > div .sticker.sticker-color-greenDark,
            .replies > li .sticker.sticker-color-greenDark,
            .replies > span .sticker.sticker-color-greenDark {
                border-color: #1e7145 !important;
            }

            .replies > div .sticker.sticker-color-red,
            .replies > li .sticker.sticker-color-red,
            .replies > span .sticker.sticker-color-red {
                border-color: #b91d47 !important;
            }

            .replies > div .sticker.sticker-color-yellow,
            .replies > li .sticker.sticker-color-yellow,
            .replies > span .sticker.sticker-color-yellow {
                border-color: #ffc40d !important;
            }

            .replies > div .sticker.sticker-color-orange,
            .replies > li .sticker.sticker-color-orange,
            .replies > span .sticker.sticker-color-orange {
                border-color: #e3a21a !important;
            }

            .replies > div .sticker.sticker-color-orangeDark,
            .replies > li .sticker.sticker-color-orangeDark,
            .replies > span .sticker.sticker-color-orangeDark {
                border-color: #da532c !important;
            }

            .replies > div .sticker.sticker-color-pink,
            .replies > li .sticker.sticker-color-pink,
            .replies > span .sticker.sticker-color-pink {
                border-color: #9f00a7 !important;
            }

            .replies > div .sticker.sticker-color-pinkDark,
            .replies > li .sticker.sticker-color-pinkDark,
            .replies > span .sticker.sticker-color-pinkDark {
                border-color: #7e3878 !important;
            }

            .replies > div .sticker.sticker-color-purple,
            .replies > li .sticker.sticker-color-purple,
            .replies > span .sticker.sticker-color-purple {
                border-color: #603cba !important;
            }

            .replies > div .sticker.sticker-color-darken,
            .replies > li .sticker.sticker-color-darken,
            .replies > span .sticker.sticker-color-darken {
                border-color: #1d1d1d !important;
            }

            .replies > div .sticker.sticker-color-white,
            .replies > li .sticker.sticker-color-white,
            .replies > span .sticker.sticker-color-white {
                border-color: #ffffff !important;
            }

            .replies > div .sticker.sticker-color-lighten,
            .replies > li .sticker.sticker-color-lighten,
            .replies > span .sticker.sticker-color-lighten {
                border-color: #d5e7ec !important;
            }

            .replies > div .sticker.sticker-color-grayDark,
            .replies > li .sticker.sticker-color-grayDark,
            .replies > span .sticker.sticker-color-grayDark {
                border-color: #525252 !important;
            }

            .replies > div .sticker.sticker-left,
            .replies > li .sticker.sticker-left,
            .replies > span .sticker.sticker-left {
                border-left: 20px solid transparent !important;
                left: -20px;
            }

            .replies > div .sticker.sticker-right,
            .replies > li .sticker.sticker-right,
            .replies > span .sticker.sticker-right {
                border-right: 20px solid transparent !important;
                right: -20px;
            }
