<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<h1><%= title %></h1>
		<ul class="list" id="goodsList">
		</ul>
		<script src="/javascripts/jquery-1.11.3.js"></script>
		<script src="/javascripts/<%= page %>.js"></script>
	</body>

</html>